<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title><%= applicationName %> | <%= headTitle %></title>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />
<script src="https://kit.fontawesome.com/a821c44686.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
<link rel="stylesheet" href="dist/css/adminlte.min.css" />
<link rel="stylesheet" href="css/style.css" />

<link rel="shortcut icon" href="dist/img/app-logo.png" type="image/x-icon" />
