<div class="card-header text-center white-border-bottom" style="display: flex; flex-direction: column; align-items: center;">
    <div class="mb-3" style="width: 70% !important;">
        <img class="img-fluid" src="dist/img/app-logo.png" alt="RPL Logo">
    </div>

    <div>
        <a href="/" class="h2"><b><%= applicationName %></b></a>
    </div>
</div>